.page_wrapper {
  margin-top: 0;
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 16% 10%;
      background-color: black;
      min-height: 100vh;

      &.active {
        background-color: #fff;
      }

      .blog_title {
        .title {
          line-height: 1.3;
          color: white;

          &.active {
            color: rgb(0, 0, 0);
          }

          h3 {
            font-family: sans-serif;
            font-size: 3.8rem;
            font-weight: 500;
          }

          p {
            width: 80%;
            padding-top: 0.5rem;
            font-size: 1.4rem;
            font-weight: 300;
          }
        }

        .btn {
          margin-top: 1.5rem;
          padding: 1rem 2rem;
          background: -webkit-linear-gradient(-70deg, #eeff00 0%, #ff0000 100%);
          border: none;
          color: #fff;
          font-family: sans-serif;
          font-size: 1.1rem;
          font-weight: 400;
          border-radius: 9px;

          span {
            padding-left: 0.4rem;
          }

          &:hover {
            span {
              padding-left: 0.6rem;
            }
          }
        }
      }

      .blog_img {
        width: 420px;
        padding: 0;
        overflow: hidden;
        animation: animation 8s ease-in-out infinite;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        border: 3px solid #eeff00;
        box-shadow: 0 0 10px #ff0000;
        transition: all .1s ease-in-out;
        

        @keyframes animation {
          0% {
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
          }
          50% {
            border-radius: 30% 75% 55% 90%/30% 75% 55% 90%;
          }
          100% {
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
          }
        }

        img {
          width: 100%;
          transform: scale(1.1);
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .page_wrapper {
    width: 100vw;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;

    .container {
      .home_content {
        flex-direction: column-reverse;
        .blog_title {
          .title {
            h3 {
              font-size: 2rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
        .blog_img {
          width: 270px;
        }
      }
    }
  }
}
@media (max-width: 535px) {
  .page_wrapper {
    margin-top: 6rem;
    .container {
      .home_content {
        .blog_title {
          .title {
            h3 {
              font-size: 1.8rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
        .blog_img {
          width: 200px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .page_wrapper {
    .container {
      .home_content {
        background: white;
        &.active {
          background-color: none;
        }
        .blog_title {
          .title {
            line-height: 1.3;
            color: rgb(0, 0, 0);

            &.active {
              color: none;
            }
          }
        }
        .blog_img {
          width: 150px;
          padding: 15px 0;
          img {
            transform: scale(1.4);
          }
        }
        .home_content:last-child {
          min-height: 60vh;
          .blog_title {
            .title {
              h3 {
                font-size: 4rem;
              }
            }
          }
        }
      }
    }
  }
}
