.page_wrapper {
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;

      .title {
        line-height: 70px;
        width: 100%;
        padding: 40vh 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #140d25;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 666px) {
          .title {
            
          }
        }

        .h1_main,
        .h3_main {
          font-family: "Rubik" sans-serif;
          color: white;
          font-size: 3rem;
          font-weight: 600;
        }
        .h3_main {
          color: rgba(255, 253, 253, 0.758);
          font-size: 2rem;
        }
        .button_main {
          margin-top: 1.5rem;
          padding: 1rem 3rem;
          background: -webkit-linear-gradient(-70deg, #030038 0%, #818181 100%);
          border: none;
          color: #fff;
          font-family: sans-serif;
          font-size: 1.1rem;
          font-weight: 600;
          border-radius: 9px;
          cursor: pointer;

          &:hover {
            padding: 1.4rem 3.4rem;
            color: #ffffff;
            text-shadow: 0 0 10px rgb(255, 255, 255);
            background-image: url('https://i.pinimg.com/originals/5b/67/8d/5b678d522ccbc5bf423cbc2c18ce745c.gif');
            background-size: cover;
          }
        }
      }
    }
  }
}
