@import url(https://fonts.googleapis.com/css?family=Rubik:500,600,700,800,900);

* {
  transition: 0.3s;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

::selection {
  background-color: #ffffff;
  color: black;
}
::-webkit-scrollbar {
  width: 0;
}
// ::-webkit-scrollbar-track {
//   background: rgb(162, 162, 162);
// }
// ::-webkit-scrollbar-thumb {
//   background: rgb(104, 104, 104);
//   border-radius: 3px;
// }
