.DropDownMenu {
  position: fixed;
  top: 5rem;
  right: 4rem;
  padding: 10px 0 10px;
  width: 150px;
  background-color: rgb(0, 0, 0);
  border: solid 2px rgb(255, 255, 255);
  border-radius: 14px;
  transition: 0.3s;
  z-index: 110000000000000000000000000;

  &.active {
    top: -730px;

    &:hover {
      top: 0;
    }
  }

  .gap_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px 0;
    flex-direction: column;
    hr {
      width: 80%;
      margin: 8px;
    }
    .link {
      display: flex;
      width: 120px;
      padding: 10px 0;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      border-radius: 8px;
    }
  }
}
@media (min-width: 1015px) {
  .DropDownMenu {
    display: none;
  }
}
@media (max-width: 600px) {
  .DropDownMenu {
    position: fixed;
    top: 5rem;
    right: 1rem;
    padding: 10px 0 10px;
    width: 150px;
  }
}
